---
import AddButton from "@/components/AddButton.astro";
import TableResult from "@/components/TableResult.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Personal Depincri">
  <main>
    <AddButton/>
    <TableResult/>
  </main>
</Layout>
