---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Personal Depincri">
  <div class="p-4">
    <div
      class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100"
    >
      <table class="table table-lg w-full">
        <thead>
          <tr class="bg-base-200">
            <th rowspan="2" class="text-center">#</th>
            <th rowspan="2">SUB UNIDAD y/o SITUACIÓN</th>
            <th rowspan="2">SEDE DEPINCRI</th>
            <th rowspan="2">AREA Y/U OFICINA</th>
            <th rowspan="2">GRADO</th>
            <th rowspan="2">APELLIDOS Y NOMBRES</th>
            <th colspan="3" class="text-center">NATURALEZA</th>
            <th rowspan="2">FECHA NACIMIEN.</th>
            <th rowspan="2">EDAD</th>
            <th rowspan="2">DNI</th>
            <th rowspan="2">CODIGO DNI</th>
            <th rowspan="2">INGRESO PNP</th>
            <th rowspan="2">EGRESO PNP</th>
            <th colspan="3" class="text-center"
              >TIEMPO DE SERVICIOS (Reales y Efectivos)</th
            >
            <th rowspan="2">CODIGO y/o ESPECIALIDAD</th>
            <th rowspan="3">CARNET DE IDENTIDAD PERSONAL (CIP)</th>
          </tr>
          <tr class="bg-base-200">
            <th class="text-center">DISTRITO</th>
            <th class="text-center">PROVINCIA</th>
            <th class="text-center">DEPTO</th>

            <th class="text-center">AÑOS</th>
            <th class="text-center">MESES</th>
            <th class="text-center">DIAS</th>

            <th class="text-center">ANTIGUO y/o CODOFÍN</th>
            <th class="text-center">CIP</th>
            <th class="text-center">SIT CIP</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th>1</th>
            <td>DIVINCRI</td>
            <td>SEDE CENTRAL</td>
            <td>OFICINA TÉCNICA</td>
            <td>CAPITÁN</td>
            <td>Cy Ganderton</td>
            <td class="text-center">X</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
          </tr>
          <tr>
            <th>2</th>
            <td>DEPINCRI SUR</td>
            <td>LIMA ESTE</td>
            <td>OPERACIONES</td>
            <td>TENIENTE</td>
            <td>Hart Hagerty</td>
            <td class="text-center">-</td>
            <td class="text-center">X</td>
            <td class="text-center">-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</Layout>
