---
import ArrowLeft from "/public/svg/arrow-left.svg";
---

<div class="relative h-screen flex flex-col justify-center gap-8 animate-fade-in">
  <a href="/" class="btn btn-square size-12 p-0 m-0 absolute top-16 left-16 group bg-base-300">
    <ArrowLeft class="group-hover:scale-110 group-hover:transition-transform group-active:scale-90 p-1" />
  </a>
  <h1 class="h-16 text-center text-5xl font-bold bg-linear-to-r from-white/90 to-black/10 bg-clip-text text-transparent">
    Login
  </h1>
  <form id="login-form" method="POST" class="flex items-center justify-center">
    <fieldset
      class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4"
    >
      <label for="username" class="label">Username</label>
      <input id="username" type="text" class="input" name="username" placeholder="Username" />

      <label for="password" class="label">Password</label>
      <input
        id="password"
        type="password"
        class="input"
        name="password"
        placeholder="Password"
      />
      <p id="error-message" class="text-error text-sm mt-2 hidden"></p>
      <button class="btn btn-neutral mt-4">Login</button>
    </fieldset>
  </form>
</div>

<script>
  import type { LoginPayload } from "@/types/login";

  const form = document.getElementById('login-form');
  const errorMessage = document.getElementById('error-message');

  form?.addEventListener('submit', async(e) => {
    e.preventDefault();
    const formData = new FormData(form as HTMLFormElement);
    const Username = formData.get('username');
    const Password = formData.get('password');

    const payload: LoginPayload = {
      username: Username as string,
      password: Password as string,
    };

    try{
      const response = await fetch('/api/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(payload),
      })
      const data = await response.json();

      if (!response.ok) {
        throw new Error(data.error || 'Error en el login');
      }

      window.location.href = '/options';   
    }
    catch (error) {
      if (error instanceof Error) {
        errorMessage!.textContent = error.message;
        errorMessage!.classList.remove('hidden');
      }
    }
  })
</script>

