---
import Arrow from "/public/svg/arrow-back.svg";
---

<div class="relative h-screen flex flex-col justify-center gap-8">
  <a href="/" class="btn btn-outline btn-square size-12 p-0 m-0 absolute top-16 left-16">
    <Arrow class="fill-gray-400 p-1" />
  </a>
  <h1
    class="h-16 text-center text-5xl font-bold bg-linear-to-r from-white/90 to-black/10 bg-clip-text text-transparent"
  >
    Login
  </h1>
  <form id="login-form" method="POST" class="flex items-center justify-center">
    <fieldset
      class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4"
    >
      <label class="label">Username</label>
      <input type="text" class="input" name="username" placeholder="Username" />

      <label class="label">Password</label>
      <input
        type="password"
        class="input"
        name="password"
        placeholder="Password"
      />
      <p id="error-message" class="text-error text-sm mt-2 hidden"></p>
      <button class="btn btn-neutral mt-4">Login</button>
    </fieldset>
  </form>
</div>

<script>
  import type { LoginPayload } from "@/types/login";

  const form = document.getElementById('login-form');
  const errorMessage = document.getElementById('error-message');

  form?.addEventListener('submit', (e) => {
    e.preventDefault();
    const target = e.currentTarget as HTMLFormElement;
    const formData = new FormData(target);
    const payload = Object.fromEntries(formData.entries()) as unknown as LoginPayload;
    console.log('Submitting login with payload:', payload);
  })
</script>

