---

---

<div class="flex items-center justify-center gap-2 fixed top-2 w-full h-26">
    <div class="avatar avatar-online placeholder">
        <div class="bg-neutral text-neutral-content size-24 rounded-full flex justify-center items-center">
        <span class="text-5xl">E</span>
        </div>
    </div>

    <div class="flex flex-col">
      <p class="font-semibold text-2xl">¡Hola bienvenido Edgard!</p>
      <div class="btn mt-4">Cerrar sesión</div>
    </div>
</div>
