---
import "@/styles/global.css";
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="background h-screen w-screen">
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  /* Chrome 10-25, Safari 5.1-6 */
  .background {
    background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  }
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  .background {
    background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  }
  /* fallback for old browsers */
  .background {
    background-color: #0f2027;
  }
</style>
